@mixin flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin transition($what, $time, $how)
  -webkit-transition: $what $time $how
  -moz-transition:    $what $time $how
  -ms-transition:     $what $time $how
  -o-transition:      $what $time $how
  transition:         $what $time $how
