@import "../../sass/mixins.sass" 

.Main
	margin-top: calc(8vh + 15px)
	width: 100vw

	.Main__Home
		width: 100%
		height: 90vh

		+flex()
		flex-direction: column

		.Main__Home__Logo
			height: 40%
			width: 100%

			+flex()
			align-items: center
			justify-content: center

		.Main__Home__Description
			height: 60%
			width: 100%

			+flex()
			flex-direction: column
			align-items: center
			justify-content: space-between

			.Main__Home__Description__text-wrapper
				width: 100%
				height: 100%

				+flex()
				justify-content: center

				.Main__Home__Description__text-wrapper--content
					width: 90%
					height: 100%

					+flex()
					align-content: center
					
					text-align: center

			.Main__Home__Description__navigate-wrapper
				width: 100%
				height: 20%
				z-index: -10

				+flex()
				justify-content: center
				align-items: center

				.Main__Home__Description__navigate-wrapper__icon
					text-decoration: none
					padding-top: 35px
					cursor: pointer

				.Main__Home__Description__navigate-wrapper__icon:visited
					color: black

				.Main__Home__Description__navigate-wrapper--arrow
					font-size: calc(1vh + 15px)
					cursor: pointer
	.Main__About
		width: 100%
		height: 90vh

		.Main__About__header
			width: 100%
			height: 15%
			
			+flex()
			justify-content: center
			align-items: center

			.Main__About__header--heading
				//

		.Main__About__Details
			width: 100%
			height: 85%

			+flex()
			justify-content: center

			.Main__About__Details__content-wrapper
				width: 90%
				height: 100%

				+flex()
				flex-direction: column
				flex-wrap: wrap
				justify-content: center

				.Main__About__Details__content-wrapper__header
					width: 60%
					margin: 2rem 0
					
					+flex()
					justify-content: space-around
					align-items: center
					align-self: center

					.Main__About__Details__content-wrapper__header--image
						//

					.Main__About__Details__content-wrapper__header--heading
						//

				.Main__About__Details__content-wrapper__text-wrapper
					width: 100% 

					+flex()
					justify-content: center
					align-items: center 

					.Main__About__Details__content-wrapper__text-wrapper-paragraph
						//

	.Main__Offer
		width: 100%
		height: 90vh

		.Main__Offer__Details__header
			width: 100%
			height: 15%
			
			+flex()
			justify-content: center
			align-items: center

		.Main__Offer__Details
			width: 100%
			height: 85%

			.Main__Offer__Details__content-wrapper
				width: 100%
				height: 100%

				+flex()
				flex-direction: row
				flex-wrap: wrap
				align-content: space-around

				.Main__Offer__Details__content-wrapper__image-wrapper
					width: 20%
					
					+flex()
					justify-content: center
					align-items: center 				

				.Main__Offer__Details__content-wrapper__text-wrapper
					width: 80%
					
					+flex()
					justify-content: flex-start
					align-items: center 				
