@import "../../sass/mixins.sass"

.Header
  width: 100vw
  height: calc(8vh + 15px)

  position: fixed
  top: 0

  +flex()
  justify-content: space-between
  align-items: center

  background-color: rgb(77, 127, 99)

  .Header__Logo
    font-size: calc(15px + 2vh)

  .Header__Nav

      .Header__Nav__Menu
        display: none
        width: 100%
        max-width: 100vw
        position: fixed
        top: calc(8vh + 15px)
        left: 0

        list-style: none
        line-height: 2rem
        overflow: hidden
        padding: 0
        margin: 0

        .Header__Nav__Menu--link
          text-decoration: none
          color: black
          font-weight: bold

      .Header__Nav__Menu.is-active

        background-color: #622C2C
        z-index: 10 
        text-align: center
        display: block
