@import "../../sass/mixins.sass"

.Footer
  width: 100vw

  +flex()
  flex-direction: column

  .Footer__Contact
    width: 100%
    height: 90vh

    +flex()
    flex-direction: column

    .Footer__Contact__Header
      +flex()
      flex-direction: column
      align-items: center

      .Footer__Contact__Header--title
        font-size: calc(4vh + 10px)
        margin-bottom: 0

      .Footer__Contact__Header--description
        font-size: calc(0.5vh + 10px)
        color: #454a53

    .Footer__Contact__Options

      .Footer__Contact__Options__list
        margin-top: 5rem

  .Footer__Location
    width: 100%
    height: 50vh

    +flex()
    justify-content: center

    .leaflet-container 
      width: 95%
      height: 100%
    
    .Footer__Location__address-popup
      +flex()
      flex-direction: column
      justify-content: center
      align-items: center


  .Footer__Details
    width: 100%
    height: 30vh

    +flex()
    flex-direction: row
    justify-content: space-around
    align-items: center

    .Footer__Details__company-details
      height: 100%
      width: 40%

      +flex()
      flex-direction: column
      justify-content: center
      align-items: center

    .Footer__Details__copyright
        height: 100%
        width: 40%

        +flex()
        flex-direction: column
        justify-content: center
        align-items: center
